.main-photo {
	overflow: auto;
}
.main-photo p {
	float: left;
	margin: 0px 16px 0px 0px;
}
.main-photo p img {
	width: 440px;
}

.insp-quote {
	font-style: italic;
	text-align: right;
	margin: 40px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
}

.greeting {
  font-size: 1.2em;
  padding: 10px 10px 10px 10px;
  font-family:'Georgia';
  line-height: 150%;
}